@{
    ViewData["Title"] = "Lobby";
}

<div class="text-center">
    <h1 class="display-4">Lobby</h1>
</div>
<div id="lobby-index-container" class="container">
    <div class="row">
        <div class="col-xl-4">
            <div class="text-center">
                <h2>Online Players</h2>
            </div>
            <table class="table player-table">
                <tbody id="all-users-tbody">
                </tbody>
            </table>
        </div>
        <div class="col-xl-4">
            <div class="text-center">
                <h2>Requests</h2>
            </div>
            <table class="table">
                <tbody id="requests-tbody">
                </tbody>
            </table>
        </div>
        <div class="col-xl-4">
            <div class="text-center">
                <h2>Friend List</h2>
            </div>
            <table class="table player-table">
                <tbody id="friend-users-tbody">
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        // READY
        $(document).ready(function () {
            update();
        });

        // Events
        $(document).on('click', '.challange-btn', function () {
            console.log("click");
            let uid = $(this).attr('data-uid');
            addUserRequestFunction(@((int)UserRequestType.Challange), uid);
            $(this).remove();
        });

        // FUNCTION
        // Data update loop
        function update() {
            updateUsersFunction();
            updateRequestsFunction();
            updateFriendListFunction();

            // Repeat
            setTimeout(update, 10_000);
        }

        // FUNCTION
        // Update online users
        function updateUsersFunction() {
            // AJAX POST
            $.ajax({
                url: "@ApiRoutes.GetOnlineUserProfiles",
                type: "POST",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({ IncludeRoleList: false, IncludeOnlineStatus: true, IncludeIsFriendWith: true, IncludeIsChallanged: true }),
                // Success
                success: function (data) {
                    //console.log(data);
                    $('#all-users-tbody').empty();
                    for (var i = 0; i < data.response.userModels.length; ++i) {
                        appendPlayerTableRow('#all-users-tbody', data.response.userModels[i]);
                    }
                    if (data.response.userModels.length == 0) {
                        $('#all-users-tbody').append(
                            '<tr>'
                            + '<td class="text-center">no players</td>'
                            + '</tr>'
                        );
                    }
                },
                // Error
                error: function (data) {
                    alert(data.status);
                    // If unauthorized error...
                    if (data.status == 401) {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Login)";
                    } else {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Error500)";
                    }
                }
            });
        }

        // FUNCTION
        // Update user requests
        function updateRequestsFunction() {
            // AJAX POST
            $.ajax({
                url: "@ApiRoutes.GetUserRequests",
                type: "POST",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({ IncludeRoleList: false, IncludeOnlineStatus: true, IncludeIsFriendWith: false, IncludeIsChallanged: false }),
                // Success
                success: function (data) {
                    $('#requests-tbody').empty();
                    for (var i = 0; i < data.response.requestModels.length; ++i) {
                        $('#requests-tbody').append(
                            '<tr class="--' + (data.response.requestModels[i].user.isOnline ? 'online' : 'offline') + '">'
                            + '<td>' + data.response.requestModels[i].user.nickname + '</td>'
                            + '<td class="status-indicator"><i class="fas fa-circle"></i></td>'
                            + '<td><b>' + (data.response.requestModels[i].type == @((int)UserRequestType.Challange) ? 'CHALLANGE' : 'FRIEND') + '</b></td>'
                            + '<td>' + (data.response.requestModels[i].type == @((int)UserRequestType.Challange) ? '<button class="btn btn-success lobby-table-btn">ACCEPT</button>' : '') + '</td>'
                            + '<td>' + (data.response.requestModels[i].type == @((int)UserRequestType.Challange) ? '<button class="btn btn-danger lobby-table-btn">DECLINE</button>' : '') + '</td>'
                            + '</tr>'
                        );
                    }
                    if (data.response.requestModels.length == 0) {
                        $('#requests-tbody').append(
                            '<tr>'
                            + '<td class="text-center">no requests</td>'
                            + '</tr>'
                        );
                    }
                },
                // Error
                error: function (data) {
                    alert(data.status);
                    // If unauthorized error...
                    if (data.status == 401) {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Login)";
                    } else {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Error500)";
                    }
                }
            });
        }

        // FUNCTION
        // Update friend list
        function updateFriendListFunction() {
            // AJAX POST
            $.ajax({
                url: "@ApiRoutes.GetUserFriendProfiles",
                type: "POST",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({ IncludeRoleList: false, IncludeOnlineStatus: true, IncludeIsFriendWith: true, IncludeIsChallanged: true }),
                // Success
                success: function (data) {
                    //console.log(data);
                    $('#friend-users-tbody').empty();
                    for (var i = 0; i < data.response.friendModels.length; ++i) {
                        appendPlayerTableRow('#friend-users-tbody', data.response.friendModels[i]);
                    }
                    if (data.response.friendModels.length == 0) {
                        $('#friend-users-tbody').append(
                            '<tr>'
                            + '<td class="text-center">no friends</td>'
                            + '</tr>'
                        );
                    }
                },
                // Error
                error: function (data) {
                    alert(data.status);
                    // If unauthorized error...
                    if (data.status == 401) {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Login)";
                    } else {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Error500)";
                    }
                }
            });
        }

        // FUNCTION
        // Add a new user request task
        function addUserRequestFunction(rtype, uid) {
            // AJAX POST
            $.ajax({
                url: "@ApiRoutes.AddUserRequest",
                type: "POST",
                dataType: "json",
                contentType: 'application/json;charset=utf-8',
                data: JSON.stringify({ Type: rtype, RelatedUserId: uid }),
                // Success
                success: function (data) {
                    console.log(data);
                    // TODO
                },
                // Error
                error: function (data) {
                    alert(data.status);
                    // If unauthorized error...
                    if (data.status == 401) {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Login)";
                    } else {
                        window.alert = function () { };
                        window.location.href = "@(WebRoutes.Error500)";
                    }
                }
            });
        }

        // FUNCTION
        // Append player data into a player table row
        function appendPlayerTableRow(ctx, user) {
            $(ctx).append(
                '<tr class="--' + (user.isOnline ? 'online' : 'offline') + '">'
                + '<td>' + user.nickname + '</td>'
                + '<td class="status-indicator"><i class="fas fa-circle"></i></td>'
                + '<td>' + (user.isChallanged == null ? '' : (user.isChallanged ? '' : '<button class="btn btn-dark lobby-table-btn challange-btn" data-uid="' + user.id + '">CHALLANGE</button>')) + '</td>'
                + '<td data-toggle="tooltip" title="' + (user.isFriendWith == null ? '' : (user.isFriendWith ? 'Remove from friend list' : 'Create a new friend request')) + '">' + (user.isFriendWith == null ? '' : (user.isFriendWith ? '<button class="btn btn-danger lobby-table-btn"><i class="fas fa-user-minus"></i></button>' : '<button class="btn btn-success lobby-table-btn"><i class="fas fa-user-plus"></i></button>')) + '</td>'
                + '</tr>'
            );
        }
    </script>
}